<div id="home-wrapper">
    <div id="index-title" style="padding-top: 1vh; margin: 3vh 0 3vh 0; font-size: 3vw;">Create a New Category</div>
    <div id="navbar">
        <a href="/home" class="link-form">Home</a>
        <a href="/home/create-category" class="link-form">Create a New Caregory</a>
        <a href="/home/logout" class="link-form" onclick="event.preventDefault();document.getElementById('magic-form').submit();">Logout</a>
    </div>
    <div id="form-wrapper">
        <form action="/home/create-category" method="POST" id="lr-form">
            <div class="form-group">
                <label for="name">New Catrgory Name:</label>
                <input type="text" class="form-control input-lg" name="name" required autofocus>
            </div>
            <button type="submit" class="btn btn-default pull-right btn-lg">Create</button>
            <div id="error">{{error}}</div>
        </form>
    </div>
    
</div>
<form id="magic-form" action="/home/logout" method="POST" style="display: none;"></form>