<h1>Welcome home, {{user.username}}!</h1>
<ul>
    {{#each user.categories}}
        <li>{{this}}</li>
    {{/each}}
    <li>All</li>
</ul>

<h2>{{user.categories}}</h2>
<form id="logout-form" action="/home/logout" method="POST">
    <input type="submit" value="Logout">
</form>