<div class="wrapper">
    <div class="center-box">
        <div id="index-title">Welcome to Spending Tracker</div>
        <div id="index-description">Spending Tracker is a web application that can help you trakc you daily spending in different catetories.</div>
        <div id="btns-wrapper">
            <a href="/login"><button class="index-btns">Login</button></a>
            <a href="/register"><button class="index-btns">Register</button></a>
        </div>
    </div>
</div>