<div class="wrapper">
    <div class="center-box">
        <div id="index-title">Log into Your Account</div>
        <form action="" method="POST" id="lr-form">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username" required autofocus></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="password" required autofocus></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login" style="font-size: 1vw;"></td>
                </tr>
            </table>
            <div id="error">{{error}}</div>
        </form>
        <div id="btns-wrapper">
            <a href="/"><button class="index-btns">To Home</button></a>
            <a href="/register"><button class="index-btns">To Register</button></a>
        </div>
    </div>
</div>