<div id="index-title">Log into Your Account</div>
<form action="" method="POST" id="lr-form">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" required autofocus autocomplete="off" class="form-control input-lg">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" required autofocus class="form-control input-lg">
    </div>
    <button type="submit" class="btn btn-default pull-right btn-lg">Login</button>
</form>
<div id="btns-wrapper">
    <a href="/"><button class="index-btns">To Home</button></a>
    <a href="/register"><button class="index-btns">To Register</button></a>
</div>