body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    background-color:blanchedalmond;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    /* background-color: aqua; */
    background-color: aliceblue;
    /* padding: 1vw; */
    min-height: 100vh;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-title {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 10vh;
}

#index-description {
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 10vh;
    width: 80%;
}

#btns-wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-btns {
    background-color: white; /* Green */
    color: #333;
    text-shadow: none;
    border-radius: 5px;
    border: none;
    padding: 0.7vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
    width: 11vw;
    text-align: center;
    border: #333 1.5px solid;
}

#lr-form {
    margin-bottom: 10vh;
}

#lr-form table tr td {
    font-size: 1.2vw;
    text-align: right;
}

#lr-form table tr td input {
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 0.8vw;
    width: 10vw;
    padding: 1vh;
}

#lr-submit {
    font-weight: bold;
}


#error {
    color:gold;
    text-align: right;
    font-size: 1vw;
}

input[type=submit] {
    cursor: pointer;
}

#home-wrapper {
    min-height: 100vh;
    min-width: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
}

.link-form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    object-fit: fill;
    align-items: center;
    padding: 0.8vw;
    text-decoration: none;
    font-size: 1vw;
    color: white;
}

.link-form:nth-child(1) {
    background-color: #444;
}


.link-form:nth-child(2) {
    background-color: #555;
}


.link-form:nth-child(3) {
    background-color: #444;
}

.link-form:hover {
    background-color: gray;
}

.link-form > input {
    padding: 3px;
    font-size: 2vw;
}

#form-wrapper {
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

#fixed-info {
    position: fixed;
    top: 5vh;
    left: 2vw;
    width: 16vw;
    height: 13vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0 1vh 0;
    font-size: 1.3vw;
    flex-direction: column;
}

#date {
    flex-grow: 1;
}

#weather {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
