body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box {
    /* background-color: aqua; */
    
    padding: 1vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#index-title {
    text-align: center;
    font-size: 2.4vw;
    margin-bottom: 10vh;
}

#index-description {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 10vh;
    width: 85%;
}

#btns-wrapper {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-btns {
    background-color: white; /* Green */
    color: #333;
    text-shadow: none;
    border-radius: 5px;
    border: none;
    padding: 0.7vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vw;
    font-weight: bold;
    cursor: pointer;
    width: 9vw;
    text-align: center;
}

#lr-form {
    margin-bottom: 10vh;
}

#lr-form table tr td {
    font-size: 1.2vw;
    text-align: right;
}

#lr-form table tr td input {
    margin-left: 1vw;
    margin-bottom: 1vh;
    font-size: 0.8vw;
    width: 10vw;
    padding: 1vh;
}

#lr-submit {
    font-weight: bold;
}


#error {
    color:antiquewhite;
    text-align: right;
}